{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
<h2> Are you sure you want to delete {{equipment_name}}? </h2>
</div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
<form action="{{ url_for('deleteEquip', equipment_name = equipment_name)}}" method="post">

	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
	<a href="{{url_for('showEquip', category_name=category.name, item_name = equipToDelete.name)}}">
		<button type="button" class="btn btn-default delete">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
	</a>

</form>
</div>
</div>
{% endblock %}
