{% extends "main.html" %} {% block content %} {% include "header.html" %}

<main class="container">
    <div class="row display-flex">
        <saction class="col-6 col-md-4 ">
            <div class="row verticalLine">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3>{{category.id}}</h3>
                </div>
                <div class="col-md-1"></div>
            </div>
            
        </saction>
        <saction class="col col-md-8">
            <div class="row">
                
            </div>
        </saction>
    </div>
</main>
{% endblock %}